*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
/*         <!-- Extra part 01 start --> */
.hdnav{
    height: 60px;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.61);
    position: fixed;
    backdrop-filter: blur(8px);
}
.logo{
    margin: 25px 0px 0px 150px;
}
.logo >h1{
    /* color: #fff; */

}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 150px;
    
}
.nav ul li a{
    margin-right: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.nav ul li a:hover{
    margin-right: 60px;
    text-decoration: none;
    color: #E55473;
    font-weight: 600;
}
.nvbtn{
    outline: none;
    border: none;
}
.nvbtn a{
    background-color: #E55473;
    color: #fff;
    padding: 8px 20px;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
}
.nvbtn a:hover{
    border: 3px solid #E55473;
}
/*         <!-- Extra part 01 end --> */


/*     <!-- 1st section Start --> */
.banner01{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FDEEF1 ;
    height: 720px;
    width: 100%;
}
.banner01 >.bannertext{
    margin-left: 100px;
    width: 580px;
}
.banner01 h1{
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 30px;
}
.banner01 p{
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.71);
    margin-bottom: 30px;
}
.banner01 button{
    border-radius: 8px;
    background-color: #E55473;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 32px;
    outline: none;
    border: none;
}
.banner01 >div>img{
    height: 600px;
    margin-bottom: -121px;
    margin-right: 150px;
}
 /*     <!-- 1st section End --> */


 /*     <!-- 2nd section Start --> */
 .fbtext{
    text-align: center;
 }
 .section02{
    margin: 150px 200px;
 }
 .section02 .fbh1{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
 }
 .fbtext p{
    width: 570px;
    margin-left: 24.5%;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(39, 39, 39, 0.71);
 }
.fbcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.flowerbox{
    text-align: center;
}
.fbcontainer img{
    height: 390px;
    width: 280px;
}
.fbcontainer p{
    font-size: 20px;
    text-decoration: underline;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    color: rgb(70, 70, 70);
}
.flowerbox01 img{
    background-color: #F2DEE8;
    margin: 10px;
    padding: 80px 47px 0px 47px ;
    border-radius: 50% 50% 0% 0% / 38% 38% 0% 0% ;
}
.flowerbox02 img{
    background-color: #DAF0F1;
    margin: 10px;
    padding: 80px 47px 0px 47px ;
    border-radius: 50% 50% 0% 0% / 38% 38% 0% 0% ;
}
.flowerbox03 img{
    background-color: #E4ECDC;
    margin: 10px;
    padding: 80px 47px 0px 47px ;
    border-radius: 50% 50% 0% 0% / 38% 38% 0% 0% ;
}
  /*     <!-- 2nd section End --> */


  /*     <!-- 3rd section Start --> */
.optional{
    background-color: #F4F4F4;
    height: 240px;
    width: 1150px;
    margin: -40px 0px 100px 189px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.optional img{
    height: 80px;
}
.optional p{
    margin-top: 15px;
    color: rgb(80, 80, 80);  
    font-weight: 500;  
}
 /*     <!-- 3rd section End --> */


 /*     <!-- 4th section Start --> */
 .section04{
    height: 70vh;
    background-color: #FDF6F8;
    margin-bottom: 100px;
 }
 .hotdeal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
 }
 .hdtext{
    width: 500px;
    margin-left: 240px;
    text-align: center;

 }
 .hdtexth1{
    font-size: 33px;
    font-weight: 800;
    margin-bottom: 25px;
 }
 .hdpink{
    color: #E55473;
 }
.hdtextp{
    font-size: 14.5px;
    color: rgb(120, 120, 120);
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 25px;
}
.hdbtn{
    border-radius: 8px;
    background-color: #E55473;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 35px;
    outline: none;
    border: none;
}
.hotdeal .hdimg >img{
    margin-right: 280px;
    height: 350px;
    
}
 /*     <!-- 4th section End --> */

 /*     <!-- 5th section Start --> */
.instra{
    text-align: center;
    width: 550px;
    margin-left: 32%;
}
.instrah1{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 15px;
}
.instrap{
    font-size: 14.5px;
    color: rgb(120, 120, 120);
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 25px;
}
.instraimg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-left: 220px;
}
.inimg >img{
    height: 320px;
    padding: 9px;
}
 /*     <!-- 5th section End --> */

 /*     <!-- 6th section Start --> */
 .section06{
    background-image: url(image/Rectangle\ 9.png);
    margin: 100px 0px 100px 173px;
    height: 350px;
    width: 1162px;
    background-size: 1162px;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.latestdeal{
    text-align: center;
    padding-top: 8%;
}
.ldh3{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 15px;
}
.ldp{
    font-size: 14.5px;
    color: rgb(120, 120, 120);
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 25px;
}
.latestdeal input{
    height: 40px;
    width: 525px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
}
.ldbtn{
    background-color: #E55473;
    border: none;
    border-radius: 10px;
    height: 50px;
    padding: 15px 28px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
}
/*     <!-- 6th section End --> */

/*     <!-- Extra part 02 start --> */

.section07{
    width: 90%;
    margin-left: 80px;
}
.pbh{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.pbp{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}
.prizecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px; 
    margin-top: -20px;   
}
.pb1{
    margin: 40px;
    padding: 30px 20px;
    background: linear-gradient(rgb(255, 199, 199) 30%, #E55473);
    text-align: center;
    color: white;
    height: 520px;
    width: 250px;
    box-shadow: 20px 20px 30px rgba(128, 128, 128, 0.409);
    border-radius: 0px 30px 0px 30px;
}
.pb1 .buynow:hover{
    color: #E55473;
    border: 5px solid white;


}
.pb1 > p{
    color: rgba(0, 0, 0, 0.64);
    padding-bottom: 5px;
}
.pb1 > h4{
    font-size: 45px;
    color: #E55473;
}
.pb1 > h5{
    font-size: 70px;
    font-weight: 900;
    color: #fff;
    padding-bottom: 20px;
}
.pb1 > ul >li{
    list-style: none;
    line-height: 40px;
}
.buynow{
    margin: 20px 0px;
    font-size: 35px;
    font-weight: bold;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #e55473ab;
}

/*     <!-- Extra part 02 end --> */

 /*     <!-- Footer Start --> */
footer{
    height: 350px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fttext{
    color: white;
    width: 480px;
}
.fth1{
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 900;
}
.ftpink{
    color: #E55473;
}
.ftp1{
    font-size: 14px;
    font-weight:300;
    margin-bottom: 20px;
}
.ftp2{
    font-size: 14px;
    color: rgb(107, 107, 107);
}
 /*     <!-- Footer End --> */
 